* {
/*    text-align: center;*/
/*    min-height: fit-content;*/
}

body {
    justify-content: center;
    width: 100vw;

    background-color: aquamarine;
}

.dashboard {
/*    position: fixed;*/
    width: 100%;
    height: 6%;
    background-color: black;
    color: white;
    
    justify-content: space-between;
    margin-right: auto;
}

.dashboard-button {
    height: 100%;
    max-width: fit-content;
    background-color: black;
    color: white;
}

iframe {
    width: 100%;
    height: 80vh;
    justify-content: center;
    border: hidden;
    overflow-x: hidden;
}

.template {
    width: 95vw;
    padding: 2%;

    font-size: medium;
}
